
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #010C12;
  color: #fff;
  font-family: Arial, sans-serif;
}


.chat {
  flex: 1;
  padding: 30px 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.message {
  position: relative;
  margin-bottom: 15px;
  padding: 12px 15px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}


.message.user-message {
  align-self: flex-end;
  background-color: #3DAE43;
  color: white;
  text-align: right;
  border-top-right-radius: 2px;
}


.message.bot-message {
  align-self: flex-start;
  background-color: #1F2D36;
  color: #ddd;
  text-align: left;
  border-top-left-radius: 2px;
}


.message .user {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
  text-align: left;
}


.message .text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}


.message .remove {
  position: absolute;
  width: 22px;
  height: 20px;
  top: 5px;
  left: -30px;
  display: none;
  background-color: transparent;
  color: #e74c3c;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.message:hover .remove {
  display: block;
}

/* Input Field */
.my-input-text {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #555;
  background-color: #1F2D36;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.my-input-text::placeholder {
  color: #aaa;
}

.my-input-text:focus {
  outline: none;
  border-color: #3DAE43;
  background-color: #273640;
}


.send-message {
  background-color: #3DAE43;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

.send-message:hover {
  background-color: #369636;
  transform: scale(1.05);
}

.send-message:active {
  background-color: #2C7E2D;
  transform: scale(0.95);
}

.send-message:disabled {
  background-color: #666;
  cursor: not-allowed;
  box-shadow: none;
}


.share-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.share-button i {
  font-size: 20px;
}

.share-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.share-button:active {
  background-color: #00408a;
  transform: scale(0.95);
}



